body{background-color: rgb(166, 166, 191);}
.section-0{text-align: center;}
h2,h3,h4{text-align: center; background-color: rgb(131, 134, 134);}
.desc{text-align: center;}
.section-1{background-color: burlywood;}
.section-2{background-color: rgb(157, 220, 220);}
.section-3{background-color: rgb(246, 213, 170);}
.section-4{background-color: rgb(139, 110, 167);}